---
import { Image } from "astro:assets";
import Falcone from "../../assets/images/textile/falcone.jpeg";
import Luna from "../../assets/images/textile/luna.jpeg";
import Matrix from "../../assets/images/textile/matrix.jpeg";
import Salvador from "../../assets/images/textile/salvador.jpeg";
import Suedine from "../../assets/images/textile/suedine.jpeg";
import Tiffany from "../../assets/images/textile/tiffany.jpeg";


---
<div class="textiles">
    <Image src={Falcone} alt="asd" class="-img"/>
    <Image src={Tiffany} alt="asd" class="-img"/>
    <Image src={Salvador} alt="asd" class="-img"/>
    <Image src={Luna} alt="asd" class="-img"/>
    <Image src={Matrix} alt="asd" class="-img"/>
    <Image src={Suedine} alt="asd" class="-img"/>
</div>

<style>
    .textiles {
        padding: 0 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin: 30px 0;
        gap: 20px;
        flex-wrap: wrap;
        @media screen and (max-width:768px) {
            grid-template-columns: 1fr 1fr;
        }
    }
    .-img {
        max-width: 260px;
        height: auto;
        @media screen and (max-width:768px) {
            width: 100%;
         }
    }
</style>
